button {
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.human-score,
.computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.human-score-value,
.computer-score-value {
    font-size: 60px;
    margin-top: -10px;
}

.round-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.choice-container {
    display: none;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
